<footer>
  <div class="footer-container">
    <p class="rights-reserved">
      ©<span id="year"></span> | All Rights Reserved | Developed with
    </p>
    <div class="text-direction">
      <svg class="heart-icon">
        <use href="./img/symbol-defs.svg#icon-Vector-1"></use>
      </svg>
      <!-- Open Modal -->
      <p class="students-goit" id="openFooterModal">by GoIT Students</p>
      <div id="myFooterModal" class="footer-modal">
        <!-- Modal content -->
        <div class="footer-modal-content">
          <div class="title-btn-container">
            <h3 class="footer-modal-title">The project was made by:</h3>
            <button type="button" class="close-button-member">
              <svg class="close-icon-member">
                <use href="./img/icon-close.svg#icon-close-1"></use>
              </svg>
            </button>
          </div>
          <ul class="group-section">
            <li class="member-section">
              <section class="member-ttl1">
                <h4 class="member-name">Lazar Madalina</h4>
                <span class="member-description">
                  Team Leader, Frontend Developer</span
                >
              </section>
            </li>
            <li class="member-section">
              <section class="member-ttl1">
                <h4 class="member-name">Calin Daria</h4>
                <span class="member-description">
                  Scrum Master, Frontend Developer</span
                >
              </section>
            </li>
            <li class="member-section">
              <section class="member-ttl1">
                <h4 class="member-name">Dogaru Alina</h4>
                <span class="member-description"> Frontend Developer</span>
              </section>
            </li>
            <li class="member-section">
              <section class="member-ttl1">
                <h4 class="member-name">Focsa Andrei</h4>
                <span class="member-description"> Frontend Developer</span>
              </section>
            </li>
            <li class="member-section">
              <section class="member-ttl1">
                <h4 class="member-name">Capatina Catalina</h4>
                <span class="member-description"> Frontend Developer</span>
              </section>
            </li>
            <li class="member-section">
              <section class="member-ttl1">
                <h4 class="member-name">Chivu Florian</h4>
                <span class="member-description"> Frontend Developer</span>
              </section>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
